PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/collabcode
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:5173

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

GOOGLE_Client_ID=your_google_client_id
GOOGLE_Client_secret=your_google_client_secret

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
